.logo img{
    display: block;
    width: 160px;
    height: 40px;
    padding: 30px 20px;

}
.logo a{
    display: block;
    height: 100px;
}

.hr{
    border: 2px solid #ccc;
    background-color: #ccc;
    height: 4px;
}

.banner img{
    width: 100%;
}

footer p{
    padding: 20px 0;
    font-size: 0.9em;
    text-align: center;
    background-color: #EAEAEA;
    color: #888;
}
/* breadcrumb start */

.breadcrumb{
    width: 100%;
    background-color: rgb(234, 234, 234, 0.5);
 
}
.path{
    padding: 20px 0;
    /* margin: 0 390px; */
    display: flex;

}
.breadcrumb a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 0 8px;

}
.breadcrumb a:hover{
    color: #0066A7;
    
}
.breadcrumb a + a::before {
    content: "/";
    color: #aaa;
  }
/*breadcrumb end */

/*  content start*/
.icon{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}
 .icon img{
     max-width: 50px;
     padding-right: 20px;
     height: 50px;
 }
 .icon h3{
    line-height: 50px;
    font-size: 20px;

}
hr{
    display: none;
  }

  .wrapper{
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 30px;
}
.searchbox{
   display: flex;
padding-top: 40px;
background-color: rgba(0, 0, 0, 0.2);
padding: 10px;
border-radius: 10px;
justify-content: space-between;
}
.input{
    width: 60%;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
.searchbtn{
    width: 20%;
    background-color: #ffec00;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    
}
.searchbtn .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.searchbtn:hover{
    color: white;
    background-color: #fa0;

}
.question{
    width: auto;
    margin: auto;
    padding-top: 40px;
}

.list{
    border-bottom: 1px solid #aaa;
   
    
}
.list:hover{
    border: 2px solid #0066a7;
    cursor: pointer;
}
.list p{
    font-size: 18px;
    padding: 10px 10px;
}

/*content end*/


/* 769 up footer menu start*/
 .container{
    width: 100%;
    background-color: #EAEAEA;
    margin-top: 120px;
}
.wrap{
    width: 960px;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: 20px 10px;
    height: auto;
    justify-content: space-around;
}
.wrap .item1{
    width: 225px;
 
}
.wrap .item2{
    width: 225px;
    
}
.wrap .item3{
    width: 225px;
    
}
.wrap .item4{
    width: 225px;
    text-align: center;
   
}

.wrap .about{
    padding: 0 60px;
   line-height: 2.2em;
}
.wrap a{
    display: inline-block;
    font-size: 0.9em;
    /* font-size: 14px; */
    
    text-decoration: none;
    color: black;
}
.wrap a:hover{
    color: #888;
    text-decoration: underline;
    transition: .5s;
}

.about .big{
  
    font-size: 16px;
}

.wrap .item4 img{
    display: block;
    margin: auto;
    width: 50px;

}
.wrap .item4 p{
    font-size: 16px;
}
.item h3 {
    font-size: 36px;
    padding: 0 0 30px;
  }
  h2 {
    text-align: center;
    /* margin: 20px 0; */
    font-size: 42px;
    width: 960px;
    margin: auto;
    padding: 20px 0;
  }

  .hh {
    text-align: center;
    margin: auto;
    width: 660px;
    padding: 0 0 40px;
  }
 /* 769 up footer menu end*/



@media screen and (max-width: 768px){
    .search{
        display: none;
    }
    
    .breadcrumb{
        display: none;
    }

    /* job content start*/
    
    /*job content start*/

    .container{
        display: none;
    }
    footer span{
        display: none;
    }
    .header{
        background-color: #fff;
        height: 100px;
        position: relative;
    
    }
    #menu-control{
        position: absolute;
        z-index: -2;
        opacity: 0;
    }
    
    .logo img{
        display: block;
        width: 160px;
        height: 40px;
        padding: 30px 20px;
    
    }
    .logo a{
        display: block;
        height: 100px;
    }
    .menu-btn{
        width: 40px;
        height: 40px;
        background-color: #ccc;
        display: block;
        position: absolute;
        top: 5px;
        right: 20px;
        margin: 30px 0px;
    }
    .menu-btn span{
        opacity: 0;
    }
    .menu-btn::before{
        content: "";
        display: block;
        width: 36px;
        height: 2px;
        right: 2px;
        position: absolute;
        background-color: #fff;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 8px 0px #fff,
                    0px -8px  0px #fff;
    }
    nav{
        width: 100%;
        height: 100vh;
        background-color: #6a6e7c;
        position: absolute;
        top: 100px;
        left: -100%;
        transition: .5s;
        z-index: 2;
    }
    nav a{
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        border-bottom: 1px solid #aaa;
    }
    #menu-control:checked ~ .header nav{
        left: 0;
    }
    .header nav a:hover{
        color: #F9CA3D;
        cursor: pointer;
}

.footercontainer{
    width: auto;
    height: 200px;
    background-color: #6a6e7c;
    margin-top: 30px;
    }
    .footer-menu a{
    display: none;
    }
    .footer-wrap{
    background-color:#6a6e7c;
    padding: 10px 0;
    
    }
    .footer-title{
    font-size: 16px;
    padding: 10px 0px;
    border-bottom: 2px solid #aaa;
    margin: 0 20px;
    color: #fff;
    
    }
    .footer-menu span{
    color: #F9CA3D;
    font-size: 20px;
    font-weight:bold;
    }
    .footer-menu span:hover{
        cursor: pointer;
    }
    /* item1-about */
    .item1{
    width: auto;
    position: relative;
    }
    .footer-btn{
    position: absolute;
    top: 10px;
    right: 30px;
    display: block;  
    
    }
    #footer-menu-control{
    position: absolute;
    z-index: -2;
    opacity: 0;
    }
    .footer-item1{
    width: 100%;
    height: 160px;
    background-color: #6a6e7c;
    position: absolute;
    left: -100%;
    }
    .footer-item1 a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    text-decoration: underline;
    color: #F9CA3D;
    }
    #footer-menu-control:checked ~ .footer-menu .footer-item1{
    left: 0;
    z-index: 1;
    }
    
    /* item2-product */
    .item2{
    width: auto;
    position: relative;
    }
    .footer-btn-p{
    position: absolute;
    top: 10px;
    right: 30px;
    display: block;  
    
    }
    #footer-menu-control-p{
    position: absolute;
    z-index: -2;
    opacity: 0;
    }
    .footer-item2{
    width: 100%;
    height: 120px;
    background-color: #6a6e7c;
    ;
    position: absolute;
    left: -100%;
    }
    .footer-item2 a{
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 14px;
    text-decoration: none;
    text-decoration: underline;
    color:#F9CA3D;
    }
    #footer-menu-control-p:checked ~ .footer-menu .footer-item2{
    left: 0;
    z-index: 1;
    }
    /* item3-support */
    .item3{
    width: auto;
    position: relative;
    }
    .footer-btn-s{
    position: absolute;
    top: 10px;
    right: 30px;
    display: block;  
    
    }
    #footer-menu-control-s{
    position: absolute;
    z-index: -2;
    opacity: 0;
    }
    .footer-item3{
    width: 100%;
    height: 80px;
    background-color: #6a6e7c;
    position: absolute;
    left: -100%;
    }
    .footer-item3 a{
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 14px;
    text-decoration: none;
    text-decoration: underline;
    color: #F9CA3D;
    }
    #footer-menu-control-s:checked ~ .footer-menu .footer-item3{
    left: 0;
    z-index: 1;
    
    }
    /* item4-contact */
    .item4{
    width: auto;
    position: relative;
    }
    .footer-btn-c{
    position: absolute;
    top: 10px;
    right: 30px;
    display: block; 
    }
    #footer-menu-control-c{
    position: absolute;
    z-index: -2;
    opacity: 0;
    }
    .footer-item4{
    width: 100%;
    height: 40px;
    background-color:#6a6e7c;
    position: absolute;
    left: -100%;
    }
    .footer-item4 a{
    display: block;
    padding: 5px 20px;
    
    }
    .footer-item4 img{
    width: 10%;
    
    }
    #footer-menu-control-c:checked ~ .footer-menu .footer-item4{
    left: 0;
    z-index: 1;
    }

    footer p{
        padding: 20px 0;
        color: #fff;
        background-color: #6a6e7c;
        text-align: center;
        font-size: 16px;
        letter-spacing: .12rem;
     }
    

}

@media screen and (min-width:769px) and (max-width:1022px){
    .search{
        display: none;
    }
    .banner img{
        vertical-align: bottom;
    }
    .item-group{
        display: flex;
    }
    #menu-control{
        display: none;
    }
    .container{
        display:none;
    }
    .menu-btn{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-evenly;
      
    }
    .header nav{
    display: flex;
    width: auto;
    height: auto;
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    }
    .header nav a{
        text-decoration: none;
        color: #000;
        padding: 40px 20px 0 20px;
        border-bottom: none;
        font-size: 18px;
    }
    nav a::after{
        content: "";
        width: 0%;
        height: 4px;
        display: block;
        background-color: #F9CA3D;
        margin-top: 36px;
        transition: width 0.5s 0.3s;

    }
    nav a:hover::after{
        width: 100%;
    }
        /* content start*/

        .icon{
            display: flex;
            justify-content: center;
            /* width: 100%; */
            /* background-color: tomato; */
            padding-top: 40px;
            
        }
        .icon img{
          padding-right: 20px;
          max-width: 50px;
          height: 50px;
         
        }
        .icon h3{
            line-height: 50px;
            font-size: 30px;
      
        }
        hr{
          margin-top: 40px;
          width: 800px;
          border: 1px solid #0066a7;
          background-color: #0066A7;
          height: 3px;
        }
        .wrapper{
            width: 70%;
            height: auto;
            margin: auto;
            padding-top: 30px;
        }
        .searchbox{
           display: flex;
        padding-top: 40px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 10px;
        justify-content: space-between;
        }
        .input{
            width: 70%;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
        }
        .searchbtn{
            width: 10%;
            background-color: #ffec00;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
        
            
        }
        .searchbtn .fas{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
        }
        .searchbtn:hover{
            color: white;
            background-color: #fa0;
        
        }
        .question{
            width: auto;
            margin: auto;
            padding-top: 40px;
        }
        
        .list{
            border-bottom: 1px solid #aaa;
           
            
        }
        .list:hover{
            border: 2px solid #0066a7;
            cursor: pointer;
        }
        .list p{
            font-size: 18px;
            padding: 10px 10px;
        }
        



/* content end*/

    .footercontainer{
        width: auto;
        height: 200px;
        background-color: #6a6e7c;
        margin-top: 30px;
        }
        .footer-menu a{
        display: none;
        }
        .footer-wrap{
        background-color:#6a6e7c;
        padding: 10px 0;
        
        }
        .footer-title{
        font-size: 16px;
        padding: 10px 0px;
        border-bottom: 2px solid #aaa;
        margin: 0 20px;
        color: #fff;
        
        }
        .footer-menu span{
        color: #F9CA3D;
        font-size: 20px;
        font-weight:bold;
        }
        .footer-menu span:hover{
            cursor: pointer;
        }
        /* item1-about */
        .item1{
        width: auto;
        position: relative;
        }
        .footer-btn{
        position: absolute;
        top: 10px;
        right: 30px;
        display: block;  
        
        }
        #footer-menu-control{
        position: absolute;
        z-index: -2;
        opacity: 0;
        }
        .footer-item1{
        width: 100%;
        height: 160px;
        background-color: #6a6e7c;
        position: absolute;
        left: -100%;
        }
        .footer-item1 a{
        display: block;
        margin: 10px 0;
        padding: 10px 20px;
        font-size: 14px;
        text-decoration: none;
        text-decoration: underline;
        color: #F9CA3D;
        }
        #footer-menu-control:checked ~ .footer-menu .footer-item1{
        left: 0;
        z-index: 1;
        }
        
        /* item2-product */
        .item2{
        width: auto;
        position: relative;
        }
        .footer-btn-p{
        position: absolute;
        top: 10px;
        right: 30px;
        display: block;  
        
        }
        #footer-menu-control-p{
        position: absolute;
        z-index: -2;
        opacity: 0;
        }
        .footer-item2{
        width: 100%;
        height: 120px;
        background-color: #6a6e7c;
        ;
        position: absolute;
        left: -100%;
        }
        .footer-item2 a{
        display: block;
        padding: 10px 20px;
        margin: 10px 0;
        font-size: 14px;
        text-decoration: none;
        text-decoration: underline;
        color:#F9CA3D;
        }
        #footer-menu-control-p:checked ~ .footer-menu .footer-item2{
        left: 0;
        z-index: 1;
        }
        /* item3-support */
        .item3{
        width: auto;
        position: relative;
        }
        .footer-btn-s{
        position: absolute;
        top: 10px;
        right: 30px;
        display: block;  
        
        }
        #footer-menu-control-s{
        position: absolute;
        z-index: -2;
        opacity: 0;
        }
        .footer-item3{
        width: 100%;
        height: 80px;
        background-color: #6a6e7c;
        position: absolute;
        left: -100%;
        }
        .footer-item3 a{
        display: block;
        padding: 10px 20px;
        margin: 10px 0;
        font-size: 14px;
        text-decoration: none;
        text-decoration: underline;
        color: #F9CA3D;
        }
        #footer-menu-control-s:checked ~ .footer-menu .footer-item3{
        left: 0;
        z-index: 1;
        
        }
        /* item4-contact */
        .item4{
        width: auto;
        position: relative;
        }
        .footer-btn-c{
        position: absolute;
        top: 10px;
        right: 30px;
        display: block; 
        }
        #footer-menu-control-c{
        position: absolute;
        z-index: -2;
        opacity: 0;
        }
        .footer-item4{
        width: 100%;
        height: 40px;
        background-color:#6a6e7c;
        position: absolute;
        left: -100%;
        }
        .footer-item4 a{
        display: block;
        padding: 5px 20px;
        
        }
        .footer-item4 img{
        width: 10%;
        
        }
        #footer-menu-control-c:checked ~ .footer-menu .footer-item4{
        left: 0;
        z-index: 1;
        }
    
        footer p{
            padding: 20px 0;
            color: #fff;
            background-color: #6a6e7c;
            text-align: center;
            font-size: 16px;
            letter-spacing: .12rem;
         }

    
}
@media screen and (min-width:1023px){

    .footercontainer{
        display: none;
    }
         /* content start*/

         .icon{
            display: flex;
            justify-content: center;
            padding-top: 40px;
            
        }
        .icon img{
          padding-right: 20px;
          max-width: 50px;
          height: 50px;
         
        }
        .icon h3{
            line-height: 50px;
            font-size: 30px;
      
        }
        hr{
            display: block;
            max-width: 800px;
          margin-top: 40px;
    
          border: 1px solid #0066a7;
          background-color: #0066A7;
          height: 3px;
        }

        .wrapper{
            max-width: 600px;
            height: auto;
            margin: auto;
            padding-top: 30px;
        }
        .searchbox{
           display: flex;
        padding-top: 40px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 10px;
        justify-content: space-between;
        }
        .input{
            width: 80%;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
        }
        .searchbtn{
            width: 10%;
            background-color: #ffec00;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
        
            
        }
       
        

/* content end*/

     /* header add search bar */
     .banner img{
        vertical-align: bottom;
    }
    .item-group{
        display: flex;
    }
    #menu-control{
        display: none;
    }
    .menu-btn{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-evenly;
      
    }
    .header nav{
    display: flex;
    width: auto;
    height: auto;
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    }
    .header nav a{
        text-decoration: none;
        color: #000;
        padding: 40px 20px 0 20px;
        border-bottom: none;
        font-size: 18px;
    }
    nav a::after{
        content: "";
        width: 0%;
        height: 4px;
        display: block;
        background-color: #F9CA3D;
        margin-top: 50px;
        transition: width 0.5s 0.3s;

    }
    nav a:hover::after{
        width: 100%;
    }

     .header{
        justify-content: space-evenly;
    }
    .search{
        display: block;
        margin: 0 0px;
    }

  
    .topsearch{
        padding: 40px 0px;
    }

    .topsearch .top{
        padding: 6px 8px;
        border-radius: 5px;
        font-weight: bold;  
    }
    .topsearchbtn{
        position: relative;
    }
    .topsearchbtn .fas{
        position: absolute;
        bottom: 45px;
        right: 10px;

    }
    .service .item-group{
        margin-bottom: 80px;
    }
    /* footermenu */
     .footer-item4 img{
        width: 5%;
    }

}
